#triangle {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 30%;
    left: 45%;
    clip: rect(auto, 180px, auto, 100px);
    transform: rotate(-90deg);
}

#triangle::after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70879e), color-stop(100%, #3f4c6b));
    transform: rotate(-45deg);
}
